{% extends 'main/layout.html' %}
{% block title%} About page {% endblock %}
{% block content%}
    <div class="features">
        <h1>About page</h1>
        <p>
The weather website is an online platform that provides users with up-to-date weather information for various locations. It allows users to search for specific cities or locations and retrieve detailed weather data such as temperature, humidity, wind speed, and forecasts.

The website typically integrates with weather data providers or APIs to fetch real-time weather information. This data is then processed and displayed to users in a user-friendly format. Users can interact with the website by entering a city name or selecting a location from a dropdown menu to retrieve the weather information they desire.

In addition to basic weather information, the website may also offer additional features such as radar maps, satellite imagery, historical weather data, and extended forecasts. These features enhance the user experience and provide a comprehensive overview of the weather conditions.

Weather websites often include responsive design elements, ensuring that the site is accessible and usable across different devices, including desktop computers, smartphones, and tablets. This allows users to access weather information on the go and stay informed about the current and forecasted conditions.

Some weather websites may also offer personalized features such as saving favorite locations, setting weather alerts, and providing recommendations for outdoor activities based on weather conditions.

Overall, a weather website serves as a reliable source of weather information, helping users plan their day, make informed decisions, and stay prepared for various weather conditions.</p>
<!--        <button class="btn btn-success">Button</button>-->
    </div>
{% endblock %}