{% extends 'main/layout.html' %}
{% block title%} Contact page {% endblock %}
{% block content%}
    <div class="features">
        <h1>Contacts</h1>
        <p>
            <br>Зв'язатися з нами можна за допомогою наступних контактних даних:
            <br>Електронна пошта: info@example.com
            <br>Телефон: +1234567890
            <br>Адреса: 123 вулиця, місто, країна
            <br>Ми раді відповісти на ваші запитання та надати необхідну допомогу. Не соромтеся зв'язатися з нами будь-яким зручним для вас способом.
        </p>
    </div>
{% endblock %}