{% extends 'main/layout.html' %}
{% block title%} Main page {% endblock %}
{% block content%}
    <div class="features">
        <h1>{{ title }}</h1>
        <p>Just paragraph</p>
        <button class="btn btn-warning">Button</button>
        {% for el in values%}
            {% if el == 'hello' %}
                {% filter upper %}
                    <p>{{ el }}</p>
                {% endfilter %}
            {% endif %}
        {% endfor %}
        {% for el in obj%}
            <p>{{ el|upper }}</p>
        {% endfor %}
    </div>
{% endblock %}